
/* PROPRIETA' FLEX  */

.d-flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.flex-end{
  justify-content: flex-end;
}

.wrap{
  flex-wrap: wrap;
}

.direction-column{
  flex-direction: column;
}

.space-around{
  justify-content: space-around;
}

.items-flex-end{
  align-items: flex-end
}

.shrink0{
  flex-shrink: 0;
}

/* ALTEZZE */

.h100{
  height: 80px;
}

/* WIDHT */

.widht100{
  width: 100%;
}

/* GENERAL */

.inline-block{
  display: inline-block;
}

ul{
  list-style: none;
}

ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.fa-chevron-up{
  font-size: .65rem;
}


/* HEADER */





/* MAIN */

main{
  height: calc(100vh - 160px);
  overflow-y: auto;
}


/* FOOTER */








/* DEBUG */

.debug{
  background-color: rgba(204, 114, 72, 0.8);
  border: 1px solid black;
}



